body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #72ad9a;
    height: 50px;
}

.navegacion { 
    display: flex;
}

.items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    list-style-type: none;
    text-align: left;
}

.items li a {
    text-decoration: none;
    color: #e7f2ff;    
}

.items a:hover {
    background-color: #a6e4d0;
    color:#72ad9a;
    border: 1px solid #bef1e1;
    padding: 5px 10px;
    border-radius: 20px;
}

.link {
    display: inline;
    margin: 0 15px 0 0;
    justify-content: center;
}

.menu {
    display: none;
}

.fa-bars {
    color: #e7f2ff;
    font-size: 17px;
    cursor: pointer;    
}

@media (max-width: 600px) {
    .items {
        display: none;
    }

    header {
        justify-content: flex-end;
        align-items: center;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        margin: 15px 50px 0px 0;
    }

}