header {
    background-color: #72ad9a;
    margin: 0;
    weight: 100%;
    height: 50px;
}

.navegacion { 
    display: flex;
}

.items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    list-style-type: none;
    text-align: left;
}

.items li a {
    text-decoration: none;
    color: #e7f2ff;
    
    
}

.link {
    display: inline;
    margin: 0 15px 0 0;
    justify-content: center;

}

.fas {
    display: none;
}

.fa-bars {
    color: #e7f2ff;
    font-size: 17px;
    cursor: pointer;    
}

@media (max-width: 600px) {
    .items {
        display: none;
    }

}